doctype 5

html
    head
        title Freeroll Poker
    body
        h1 Lobby
        table
            tr
                th Title
                th Start Time
                th Registered
            each val, key in tournamentList
                tr
                    td= val.title
                    td= val.startTime
                    td= val.numRegistered
